
  
  hr {
    width: 100%;
    background-color: #d9e0e4;
     margin-bottom: 30px;
    }

  
  
  a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
    margin-right: 15px;
    
    
  }

  #GFG {
      text-decoration: none;

  }
 .grad:hover{
  background-image: linear-gradient(to right, rgb(33, 250, 250) ,rgb(160, 132, 235));
  color: white;
 }
  .grad{
    float: right;
    background-image: linear-gradient(to right, darkturquoise ,slateblue);
  border-radius: 4px;
 text-align: center;
 padding-top: 14px;
 font-size: 18px;
 padding-bottom: 14px;
 padding-left: 18px;
 padding-right: 18px;
 margin-top: 10px;
 margin-right: 0px;
  }

  
 
  th{
    background-color:rgb(14, 17, 39);
  color: white;
  text-align: left;
    
  }

 
  
  
  tr:hover {
    background-color: rgb(14, 17, 39);
    
  }
 
     tbody{
       background-color: rgb(23, 26, 53);
       color: white;
     }
  .layout{
    margin-left: 150px;
    margin-right: 150px;
  }

  table{
    padding: 10px;
    border: 1px solid #535a5f;
    border-radius: 5px;
    text-align: center;
  }
  th, td {
    padding: 15px;
    text-align: left;
    max-width: 200px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    flex: 150 0 auto; min-width: 0px;
    
  }
 .filter{
   margin-right: 300px;
 }
 .sort{
   margin-left: 300px;
 }

  .coins{
    border-radius: 20px;
  margin-right: -20px;
    white-space: nowrap;
    display: inline;
  }
 
 
  input{
  color: white;
  background-color: rgb(23, 26, 53);
  border-color: rgb(50, 5, 100);
  width: 250px;
  margin-top: 30px;
  margin-bottom: 30px;
  }
  
  select{
    color: white;
    background-color: rgb(23, 26, 53);
    border-color: rgb(50, 5, 100);
    width: 250px;
    margin-top: 30px;
    margin-bottom: 30px;
    }

   
 

 
  
