.leftside{
    width: 407px;
    margin-top: 20px;
    margin-bottom:20px ;

    margin-left: 160px;
    height:100px;
    border-radius: 10px;
    
    box-sizing: border-box;
    background-color:#91DDF2


    
    
}

.middle{
    width: 407px;
    margin-top: 20px;
    margin-bottom:20px ;
    margin-left: 72px;
    
    height:100px;
    border-radius: 10px;
   
    box-sizing: border-box;
    background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

    
    
}
.rightside{
    width: 407px;
    margin-top: 20px;
    margin-bottom:20px ;
    margin-left: 72px;

    height:100px;
    border-radius: 10px;
    
    box-sizing: border-box;
    background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

    
    
}

.row{
    align-items:center;
    width:100%;
margin-left: 45px;
    margin-right: 45px;
}

 .slider{
     width:100%;
     width: 320px;
     
     cursor: pointer;
     margin-left: 50px;
     margin-top: 20px;
     background: #fff;
     opacity: 0.7;
     -webkit-transition: .2s;
     transition: opacity .2s;

     -webkit-appearance: none;
    
      height: 10px;
     border-radius: 5px;
     
     outline: none;
     
   
     
 }
 .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 20%;
    background: #4B0082;
    cursor: pointer;
  }

  
 .labelcaption{
    margin-left: 10px;
    margin-bottom: 10px;
 }
  
a{
    display: inline-block;
    font-family: Segoe UI;
    
}


.show{
    background-color: rgb(47, 39, 94);
    padding-left:9px ;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-right: 9px;

    border-radius: 4px;
    
    box-sizing: border-box;
    background-color: rgb(15, 22, 63);
    display: inline;
}
.show:hover{
    background-color: rgb(11, 53, 107);
    color: white;
    text-decoration: none;
    cursor: pointer;
}

label{

    margin-top: 15px;
    font-size: 14px;
    font-family: Segoe UI;
   
}

.selection{
    display: inline-block;
}
